# Ignore Python virtual environment
backend/.venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore node_modules (frontend)
frontend/node_modules/

# Ignore build/dist files
frontend/dist/
frontend/build/

# OS junk files
.DS_Store
Thumbs.db
